

<div>
<%= simple_form_for listing do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :price, min: 1.00 %>
<%= f.input :item_condition, collection: Listing::CONDITION %>
<%= f.label :images %>
<%= f.file_field :images, accept: 'image/jpg' %>
</div>
<div>
<%= f.submit "Submit your gear" %>
</div>

<% end %>

