<h1>Listings</h1>
<%= flash[:alert]%>
     <% @listings.each do |listing| %>
         <div class="card" style="width: 18rem;">
           <%= image_tag listing.images.first, class: 'card-img-top' %> 
         <div class="card-body">
            <h5 class="card-title"><%= listing.name%></h5>
            <p class="card-text"><%=listing.description %></p>
            <%= link_to "Show", listing_path(listing.id),class: 'btn btn-outline-dark' %>
         </div>
        </div>
  
     <% end %>
 <br>

<%= link_to "New listing", new_listing_path %>
