<h1 class="d-flex justify-content-center align-items-center container ">Find your dream gear</h1>
      <div class="d-flex justify-content-center align-items-center container ">
         <%= form_tag listings_path, method: :get do %>
            <%= text_field_tag :query, params[:query],
            placeholder: "Search by name" %>
            <%= submit_tag "Go", class: 'btn btn-outline-dark'  %>
            <%= link_to "See all", listings_path, class: 'btn btn-outline-dark'  %>
           <% end %>
      </div>
 <br>
 <div class="card-columns">
     <% @listings.each do |listing| %>
         <div class="card" style="width: 18rem;">
           <%= image_tag listing.images.first, class: 'card-img-top' %> 
            <div class="card-body">
               <h5 class="card-title"><%= listing.name%></h5>
               <p class="card-text"><%=listing.description %></p>
               <p class="card-text"><%=number_to_currency(listing.price) %></p>
               <%= link_to "Show", listing_path(listing),class: 'btn btn-outline-dark' %>
            </div>
        </div>
  
     <% end %>
   </div>
  <br>

<%= link_to "Sell your gear", new_listing_path, class: 'btn btn-outline-dark'  %>
<%= link_to "See all", listings_path, class: 'btn btn-outline-dark'  %>