<h1> Add new listing </h1>

<div>
<%= simple_form_for @listing do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.input :item_condition, collection: Listing::CONDITION %>
<%= f.label :images %>
<%= f.file_field :images, accept: 'image/jpg' %>
</div>
<br>
<%= f.submit %>

<% end %>

<%
=begin%>
 
<%= form_with model: @listing, local:true do |form| %>
<div class= 'mb-3'>
    <%= form.label :name %>
    <%= form.text_field :name %>
</div>
    <%= form.label :price %>
    <%= form.number_field :price, min: 1.00, step: 1.00 %>
    <%= form.label :description %>
    <%= form.text_area :description %>
    <%= form.label :item_condition %>
    <%= form.text_field :item_condition %>
    <%= form.label :images %>
    <%= form.file_field :images, accept: 'image/jpg, image/png, image/jpeg' %>

    <%= form.submit %>
<% end %>  
<%
=end%>