
<h1> <%= @listing.name %> </h1>
<p> <%= @listing.description %></p>
<%= @listing.images.attached? ? (image_tag @listing.images.first, alt:'Picture of equipment for sale') : (image_tag 'default-image.jpeg', alt: 'No image found') %>
<ul>   
    <li>Item Condition: <%= @listing.item_condition %> </li>
    <li> Price: <%= number_to_currency(@listing.price) %> </li>
    <li> Sold by: <%= @listing.user.email %> </li>
</ul>
<%= button_tag "Buy Now",disabled: (@listing.status != 'active'),data: {stripe:'payment', session_id: @session_id, public_key: Rails.application.credentials.dig(:stripe, :public_key)}, class: "btn btn-outline-dark" %>
<% if can? :update, @listing %>
<%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-outline-dark' %>
<% end %>
<% if can? :destroy, @listing %>
<%= link_to 'Remove', listing_path(@listing), method: :delete, data:{ confirm: "Are you sure?" },  class: 'btn btn-outline-dark' %>
<% end %>
<%= javascript_include_tag "https://js.stripe.com/v3" %>
<%= javascript_pack_tag "stripe" %>

 