<div class="d-flex justify-content-center align-items-center container ">
  <h2>Log in</h2>
</div>
<div class="d-flex justify-content-center align-items-center container ">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center container ">
  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
</div>
<div class="d-flex justify-content-center align-items-center container ">
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  <% end %>
</div>
<div class="d-flex justify-content-center align-items-center container ">
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
  <% end %>
</div>